@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
body,html{
  margin: 0px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
header{
  margin: 0px;
}
hr{
  width: 30px;
  height: 2px;
  border: none;
  color: #555;
}
a{
  cursor: auto;
}
#sidebar-wrapper{
  display: none;
  position: fixed;
  z-index: 1000;
  width: 220px;
  height: 100%;
  background-color: #333C4A;
}
#sidebar-wrapper a{
  color: inherit;
  text-decoration: none;
}
#sidebar-wrapper ul{
  margin: 15px 20px;
}
#sidebar-wrapper span{
  padding: 10px 0px;
  color: #fff;
  display: block;
  width: 220px;
}
#sidebar-wrapper li{
  overflow: hidden;
  width: 220px;
  color: #fff;
}
#sidebar-wrapper li :hover{
  background-color: #46CDCF;
}
#sidebar-wrapper .active{
  cursor: pointer;
  background-color: #ea7070;
  padding: 10px 15px;
}
#sidebar-wrapper li :focus{
  background-color: rgba(0,0,0,0);
}
.wrapper-verticle-center{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
.wrapper-horizon-center{
  left: 50%;
  -webkit-transform: translateX(-50%);
}
.text-align-center{
  text-align: center;
}
.brand{
  position: relative;
  display: block;
  padding: 10px 0px;
  font-size: 18px;
  width: 180px;
  overflow: hidden;
  color: #fff;
}
.irene{
  cursor: pointer;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 10px;
}
.irene img{
  width: 100px;
}
.irene a{
  display: block;
}
.menu {
  cursor: pointer;
  margin: 20px;
  padding-left: 1.25em;
  position: fixed;
  width: 32px;
  height: 32px;
  z-index: 999;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 13px;
}
.menu-bottom {
  top: 26px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 900;
}
.startColor{
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 800;
  opacity: 1;
}
.title{
  position: absolute;
  color: #555;
  display: inline;
  top: 50%;
}
.cursor{
  cursor: pointer;
}
.textSection{
  position: absolute;
  text-align: center;
  color:#fff;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.textSection h1{
  font-size: 120px;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
}
.textSection span{
  font-size: 18px;
}
.textSection p{
  font-size: 10px;
}
.imgFullSection{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 300px;
}
.BG{
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  z-index: -101;
}
.color{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 800;
  opacity: 0;
}
.dtdBG{
  position:relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 600px;
}
.smallDiv{
  position:absolute;
  width: 200px;
  height: 80%;
  min-height: 250px;
  max-height: 400px;
  overflow: hidden;
  left: 50%;
  margin-left: -100px;
}
.fullDiv{
  position:absolute;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  overflow: hidden;
}
.mask{
  position:absolute;
  width: 200px;
  height: 100%;
  max-height: 600px;
  overflow: hidden;
  left: 50%;
  margin-left: -100px;
  opacity: 0.4;
  z-index: 3;
}
.parallaxImg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.imgTitle{
  top: 50%;
  margin-top: -50px;
  text-align: center;
  font-size: 48px;
  color: #fff
}
.chatBG{
  position: absolute;
  margin-bottom: 150px;
  min-height: 250px;
  max-height: 400px;
  background-size: auto 300px;
  background-color: #85A6B1;
}
.airCraft{
  position:absolute;
  height: 180px;
  width: 100%;
  top: 50%;
  margin-top: -90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/airCraft.png');
}
.airCraft-chat{
  position:absolute;
  height: 180px;
  width: 180px;
  top: 50%;
  margin-top: -90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/airCraft.png');
  right: 10%;
  z-index: 1;
}
.line{
  position: absolute;
  width: 300px;
  height: 5px;
  opacity: 0.3;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  background-image: url('../img/line.png');
}
.illustrationSection{
  position: relative;
  text-align: center;
  background-color: #24323e;
  color:#fff;
  padding: 100px 10px;
}
.illustration{
  position: relative;
  background-color: #24323e;
  width: 100%;
  padding: 50px 0px;
}
.fade {
  opacity: 1;
}
.card{
  position: absolute;
  display: block;
  float: left;
  width: 25%;
  padding: 20px 40px;
}
.card img{
  position: static;
  max-width:100%;
  opacity: 0.9;
  border-radius: 5px;
}
.cardDescription{
  text-align: right;
}
.cardDescriptionContent{
  display: none;
}
.cardDescription span{
  float: right;
}
/* The Modal (background) */
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  -webkit-overflow-scrolling: auto;
}
.modalOverlay{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
.modalWrapper{
  height: 100%;
  z-index: 1050;
}
/* Modal Content */
.modalImgView {
  position: relative;
  margin: auto;
  padding: 0;
  width: 70%;
  height: 100%;
  max-width: 1200px;
}
.modalImgView img{
  border-radius: 10px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
.modalDescription{
  position: absolute;
  width: 40%;
  display: inline;
  float: right;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  top: 50%;
  -webkit-transform: translateY(-50%);
  text-align: right;
}
.modalDescription span{
  font-size: 16px;
}
/* The Close Button */
.modalClose {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
  z-index: 1200;
}

.modalClose:hover,
.modalClose:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1200;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
/* Add Animation - Zoom in the Modal */
.modalImgView, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@media screen and (max-width: 900px){
  .grid li {
      width: 50%;
  }
  .textSection h1{
    font-size: 90px;
  }
  .modalImgView img{
    width: 100%;
  }
  .modalDescription{
    display: none;
  }
  .cardDescription{
    display: block;
  }
  .cardDescriptionContent{
    display: block;
  }
}
@media screen and (max-width: 400px){
  .grid li {
      width: 100%;
  }
  .textSection h1{
    font-size: 72px;
  }
  .irene{
    top: auto;
    bottom: 10px;
  }
  .irene img{
    width: 60px;
  }
}
