.fullwidth-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
}
.nextProjectSection{
  /*overflow: hidden;*/
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 300px;
  z-index: 1;
}
.nextProject-wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  /*top: -100%;*/
}
.text-wrapper{
  color: #fff;
  position: fixed;
  bottom: 30vh;
  -webkit-transform: translateY(50%);
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.pageSection{
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.dtdColor{
  background: #303841;
}
.about{
  padding: 100px 80px;
  /*background-color: #303841;*/
}
.about-wrapper{
  overflow: auto;
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.about-introduction{
  width: 50%;
  display: inline-block;
  float: left;
}
.introduction-wrapper{
  padding-left: 15px;
  padding-right: 10px;
}
.about-myPhoto{
  width: 33.33%;
  height: auto;
  display: inline-block;
  float: left;
}
.about-myPhoto img{
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 15px;
}
.arrow {
  /*position: absolute;*/
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  z-index: 800;
}
.arrow img{
  width: 32px;
  height: 32px;
}
.aircraft{
  position: absolute;
  left: 10%;
  top: 50%;
  margin-top: -250px;
  width: 100%;
  height: 500px;
  background-image: url(../img/work/chat-aircraft.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 0px;
}

.cloud{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/work/chat-cloud.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 0px;
}
/*.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}*/
.projectPage{
  padding-top: 200px;
  padding-bottom: 200px;
  color: #fff;
}
.projectTitle{
  display: block;
  text-align: center;
  font-size: 72px;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  font-weight: bold;
}
.projectName{
  text-align: center;
  font-size: 20px;
}
.margin-bottom{
  margin-bottom: 50px;
}
.projectInfo{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
}
.projectDescriptionL{
  width: 550px;
  display: inline-block;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
}
.projectDescriptionR{
  display: block;
  float: right;
}
.projectDescriptionR span{
  display: block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.block{
  width: 100px;
}
.bottomInterval{
  margin-bottom: 20px;
}
.subHeading{
  font-weight: 900;
  opacity: 0.4;
  margin-bottom: 10px;
}
.pageWarpper{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 135vh;
}
.halfimg, .half{
  width: 50%;
  display: inline-block;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.part-photo,.one-photo{
  display: inline-block;
  float: left;
  text-align: center;
}
.paco-half{
  width: 50%;
  display: inline-block;
  float: left;
}
.halfimg img{
  width: 100%;
}
.fullImg img{
  position: absolute;
  height: 100vh;
  -webkit-transform: translateX(-50%);
  left: 50%;
}
.yt_iframe{
  text-align: center;
  overflow: hidden;
}
.yt_iframe iframe{
  position: absolute;
  width: 560px;
  height: 315px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}
.dtdlogo, .dtdrobot{
  width: auto;
  text-align: center;
}
.dtdlogo img{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.dtdBiglogo img,{
  margin-top: 50px;
  width: 200px;
  height: 200px;
}
.dtdrobot img{
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.chat-skycloud{
  position:absolute;
  height: 100vh;
  min-height: 300px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/work/chat-skycloud.png');
}
.chat-little{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.paco-map, .paco-logo, .giant-need{
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.giant-noker{
  width: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.paco-map img, .part-photo img, .paco-logo img, .giant-need img, .giant-noker img{
  width: 100%;
  height: auto;
}
.one-photo img{
  width: 60%;
}
.illustration-photo{
}
.paco-map-cha{
  position: absolute;
  width: 150px;
  height: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.paco-map-cha img{
  width: 100%;
  height: 100%;
}
.circle-3{
  width: auto;
  text-align: center;
}
.circle-3 img{
  width: 250px;
  height: auto;
}
.z-index-5{
  z-index: 5;
}
.min-height-100vh{
  min-height: 100vh;
}
.width-33{
  width: 33.33%;
}
.width-50{
  width: 50%;
}
.max-width-50{
  max-width: 50%;
}
.width-100{
  width: 100%;
}
.height-100{
  height: 100%;
}
.padding-20{
  padding: 20px;
}
.padding-top-bootom-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-top-bootom-50{
  padding-top: 50px;
  padding-bottom: 50px;
}
.img-width-60{
  width: 60%;
}
.margin-top-bottom-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrapper-text-align-center{
  width: 100%;
  text-align: center;
}


@media screen and (max-width: 1200px){
  .half{
    width: 100%;
    float: none;
  }
  .paco-map, .paco-logo{
    width: 80%;
  }
  .giant-noker{
    width: 30%;
  }
  .one-photo img{
    width: 70%;
  }
  .about{
    padding: 100px 80px;
  }
  .about-myPhoto{
    width: 40%;
  }
}
@media screen and (max-width: 900px){
  .projectDescriptionL, .width-33, .width-50{
    width: 100%;
  }
  .margin-top-bottom-20{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .padding-top-bootom-20{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .projectDescriptionR{
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .block{
    display: inline-table;
    width: auto;
    margin-right: 40px;
  }
  .halfimg{
    width: 90%;
    float: none;
  }
  .projectPage{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .paco-map-cha{
    width: 100px;
  }
  .giant-noker{
    width: 40%;
  }
  .one-photo img{
    width: 80%;
  }
  .about{
    padding: 80px 50px;
  }
}
@media screen and (max-width: 560px){
  .yt_iframe iframe{
    width: 336px!important;
    height:189px!important;
  }
  .dtdlogo img{
    width: 18%;
    height: auto;
  }
  .dtdBiglogo img{
    width: 50%;
    height: auto;
  }
  .dtdrobot img, .paco-map{
    width: 90%;
  }
  .circle-3 img{
    width: 30vh;
  }
  .giant-noker{
    width: 50%;
  }
  .one-photo img{
    width: 90%;
  }
  .about{
    padding: 80px 50px;
  }
  .about-introduction{
    width: 100%;
  }
  .about-myPhoto{
    width: 100%;
  }
  .projectTitle{
    font-size: 48px;
  }
}
@media screen and (max-width: 400px){
  .block{
    width: 100%;
  }
  .dtdBiglogo img{
    width: 35%;
    height: auto;
  }
  .paco-map-cha{
    width: 75px;
  }
  .about{
    padding: 80px 10px;
  }
}
